@import "../../style.scss";

.stories {
  display: flex;
  gap: 10px;
  height: 250px;
  margin-bottom: 30px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  @include mobile {
    height: 50px;
    margin-bottom: 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
    scroll-snap-type: x mandatory;
  }

  @include tablet {
    height: 150px;
    gap: 20px;
  }

  .story {
    flex: 0 0 150px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    scroll-snap-align: start;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    @include mobile {
      flex: 0 0 50px;
      height: 50px;
      border-radius: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .story-info { /* story-info div için stiller */
      position: absolute;
      bottom: 10px;
      left: 10px;
      display: flex;
      align-items: center;
      color: white;
      font-weight: 500;
      background-color: rgba(0, 0, 0, 0.4); // Yarı saydam siyah arka plan
        padding: 3px 5px;
        border-radius: 4px;
        backdrop-filter: blur(5px); // Blur efekti

      @include mobile {
        display: none;
      }
      .story-profile-pic {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 5px;
        object-fit: cover;
      }
    }
    &.create-story { /* create-story class'ı için özel stil */
      display: flex;
      align-items: center;
      justify-content: center;
        img {
          object-fit: cover;
          object-position: center;
        }
    }

    .create-button { /* create-button class'ı için özel stil */
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: white;
      background-color: #5271ff;
      border: 2px solid white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      width: 35px;
      height: 35px;
      cursor: pointer;
      font-size: 22px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        position: absolute;
        right: 5px;
        bottom: 5px;
        width: 25px;
        height: 25px;
        font-size: 16px;
        border: 1px solid white;
      }
    }
  }
}