@import "../../style.scss";

.profile {
  @include themify($themes) {
    background-color: themed("bgSoft");

    .images {
      width: 100%;
      height: 300px;
      position: relative;

      .cover-wrapper {
        position: relative;
        height: 100%;

        .cover {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .icon-wrapper {
          position: absolute;
          bottom: 10px;
          right: 10px;
          background-color: black;
          color: white;
          padding: 8px;
          border-radius: 50%;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: lighten(black, 20%);
          }

          svg {
            font-size: 16px;
          }
        }
      }

      .profilePic-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 200px;
        margin: auto;
        width: 200px;
        height: 200px;
        z-index: 1;

        .profilePic {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }

        .icon-wrapper {
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.6);
          color: white;
          padding: 8px;
          border-radius: 50%;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: lighten(black, 20%);
          }

          svg {
            font-size: 16px;
          }
        }
      }
    }

    .profileContainer {
      padding: 20px 70px;

      @include mobile {
        padding: 10px;
      }

      @include tablet {
        padding: 20px;
      }

      .uInfo {
        height: 180px;
        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        border-radius: 20px;
        background-color: themed("bg");
        color: themed("textColor");
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        position: relative;

        @include mobile {
          flex-direction: column;
          height: 30vh;
          padding: 20px;
          margin-top: 100px;
        }

        .left {
          flex: 1;
          display: flex;
          gap: 10px;

          @include tablet {
            flex-wrap: wrap;
          }

          a {
            color: themed("textColorSoft");
          }
        }

        .center {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          margin: 10px;

          .bio {
            width: 100%;
            text-align: center;
            color: themed("textColorSoft");
            font-style: italic;
            font-size: 14px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;

            @include mobile {
              max-width: 100%;
            }
          }

          .edit-wrapper {
            position: absolute;
            top: 10px;
            right: 10px;

            .follow-button {
              padding: 8px 16px;
              border-radius: 5px;
              font-weight: 600;
              cursor: pointer;
              transition: background-color 0.3s, color 0.3s, border-color 0.3s;
              border: 2px solid transparent;
              font-size: 14px;

              &.follow {
                background-color: themed("textColor");
                color: themed("bg");

                &:hover {
                  opacity: 0.8;
                }
              }

              &.unfollow {
                background-color: transparent;
                color: themed("textColor");
                border-color: gray;
                &:hover {
                  border-color: darken(gray, 10%);
                  background-color: #d3d3d329;
                }
              }
            }

            svg {
              padding: 3px;
              &:hover {
                background-color: themed("bgSoft");
                border-radius: 20px;
              }   
            }
          }

          span {
            font-size: 25px;
            font-weight: 500;
            text-align: center;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 15px;

            .item {
              display: flex;
              align-items: center;
              color: themed("textColorSoft");

              span {
                font-size: 12px;
              }
            }
          }

          button {
            border: none;
            background-color: #5271ff;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
          }
        }

        .right {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 20px;

          .followers,
          .following {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            .title {
              font-size: 14px;
              color: themed("textColorSoft");
            }
            .count {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
