.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    min-width: 100px;
    min-height: 80px;
    justify-content: center;
    width: 100%;
    align-items: center;
  
    .loading-icon {
      font-size: 3rem;
      animation: spin 1s linear infinite;
    }
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }